# everywhere
__pycache__
.ipynb_checkpoints
*.jpg
*.png
*.txt
!training/requirements.txt
!requirements_cp38-1.4.0.txt

# models
*.rknn
*.onnx
!models/yolov5m_leaky_352x352.rknn
!models/yolov5s-640-640.rknn
!models/yolov5m_leaky.rknn
