# everywhere
__pycache__
.ipynb_checkpoints
*.jpg
*.png
*.txt
!install/requirements.txt
!resources/HostPC/requirements_cp38-1.4.0.txt

# models
*.rknn
*.onnx
!models/yolov5.rknn
!models/unet.rknn
!models/resnet.rknn
!models/encoder.rknn
!models/yolact.rknn
